@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

html, body {
    margin: 0;
}

#spin {}

#spin:after {
    content: "";
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        content: "Cost Management";
    }

    15% {
        content: "Due Diligence";
    }

    30% {
        content: "Client Onboarding";
    }

    45% {
        content: "Account Automation";
    }

    60% {
        content: "Performance Oversight";
    }

    75% {
        content: "Reporting";
    }

    100% {
        content: "Network Management";
    }
}

.slider ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: max-content;
    animation: moveCarousel 30s linear infinite;
}

.slider img {
    height: 100px;
    margin-right: 10px;
}

.slider li {
    width: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150px;
    padding: 10px 0 10px 10px;
    margin-right: 5px;
}

.slider {
    overflow: hidden;
}

@keyframes moveCarousel {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(calc(-155px * 11));
    }
}


.video-docker video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-docker::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.video-content {
    z-index: 2;
}


.myriad-emblem {
    position: relative;
    width: auto;
    max-height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
}

.myriad-emblem::before {
    content: "";
    background: url("../assets/myriad-emblem.png") local no-repeat left center !important;
    background-attachment: fixed;
    background-size: cover !important;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -25rem;
    opacity: 0.5;
}

.footer-container {
    position: relative;
    width: 100vw;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container::before {
    content: "";
    background: url("https://source.unsplash.com/Nkt6IbpmJKo") no-repeat center !important;
    background-size: cover !important;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/* Tab content - closed */
.tab-content {
    max-height: 0;
    -webkit-transition: max-height 0.35s;
    -o-transition: max-height 0.35s;
    transition: max-height 0.35s;
}

/* :checked - resize to full height */
.tab input:checked~.tab-content {
    max-height: 100vh;
}

/* Label formatting when open */
.tab input:checked+label {
    border-left-width: 1px;
    border-color: white;
}

/* Icon */
.tab .label .icon {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transform-origin: center center;
}

/* Open Multiple Icon Formatting - Open */
.tab input[type="checkbox"]:checked+.label .icon {
    transform: rotate(135deg);
}

/* List Transition */
ul a {
    transition: color 0.5s ease;
}

img {
    -o-object-fit: cover !important;
    object-fit: cover !important;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}