@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.slider ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: max-content;
    animation: moveCarousel 30s linear infinite;
}

.slider img {
    height: 100px;
    margin-right: 10px;
}

.slider li {
    width: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150px;
    padding: 10px 0 10px 10px;
    margin-right: 5px;
}

.slider {
    overflow: hidden;
}

@keyframes moveCarousel {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(calc(-155px * 11));
    }
}


.video-docker video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-docker::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.video-content {
    z-index: 2;
}