@tailwind base;
@tailwind components;
@tailwind utilities;


.slider ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: max-content;
    animation: moveCarousel 10s linear infinite;
}

.slider img {
    height: 100px;
    margin-right: 10px;
}

.slider li {
    width: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150px;
    padding: 10px 0 10px 10px;
    margin-right: 5px;
}

.slider {
    overflow: hidden;
}

@keyframes moveCarousel {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(calc(-155px * 11));
    }
}


/* (A) SPEECH BOX */
.speech {
    /* (A1) FONT */
    font-size: 1.1em;

    /* (A2) COLORS */
    color: #fff;
    background: darkorange;

    /* (A3) DIMENSIONS + POSITION */
    position: relative;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 320px;
}

/* (B) ADD SPEECH "CALLOUT TAIL" */
/* (B1) USE ::AFTER TO CREATE THE "TAIL" */
.speech::after {
    /* (B1-1) ATTACH TRANSPARENT BORDERS */
    content: "";
    border: 20px solid transparent;

    /* (B1-2) NECESSARY TO POSITION THE "TAIL" */
    position: absolute;
}

/* (C2) LEFT */
.left.speech::after {
    /* (C2-1) LEFT TRIANGLE */
    border-right-color: darkorange;
    border-left: 0;

    /* (C2-2) POSITION AT LEFT */
    left: -20px;
    top: 50%;
    margin-top: -20px;
}