@tailwind base;
@tailwind components;
@tailwind utilities;


.slider ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: max-content;
    animation: moveCarousel 30s linear infinite;
}

.slider img {
    height: 100px;
    margin-right: 10px;
}

.slider li {
    width: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150px;
    padding: 10px 0 10px 10px;
    margin-right: 5px;
}

.slider {
    overflow: hidden;
}

@keyframes moveCarousel {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(calc(-155px * 11));
    }
}